.Reset {
  background-color: whitesmoke;
}

.Pixel {
  box-sizing: border-box;
  border: 1px solid #ccc;
  width: 5%;
  height: 5%;

}


.Pixel:hover {
   transition: background-color 0.4s 0.1s ease;
  animation: 
  tile-spin 0.7s infinite ease-out;

}

@keyframes tile-spin {
  from {transform: rotateY(0deg)}
  to {transform: rotateY(360deg)}
}
