.SketchContainer {
  box-sizing: border-box;
  background-color: gainsboro;
  width: 500px;
  height: 500px;
  margin: 10vh auto;
  display: flex;
  flex-flow: row wrap;
}

.Btn {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
}
.Btn:hover {
	background-color:#f6f6f6;
}

